.depoimentos {
    text-align: center;
    margin: 0 15em 5em;
}
.depoimentos__titulo {
    color: var(--color-emphasis);
    font-size: 0.9rem;
    font-weight: 600;
}
.depoimentos__titulo__destaque {
    font-size: 2.25rem;
    color: var(--color-title);
    line-height: 1.3;
    padding: 1em;
}
.depoimentos__nome {
    color: var(--color-title);
    padding: 1em 0 .5em;
}
.depoimentos__texto {
    font-size: 0.9rem;
    font-weight: 400;
}